.page.theme_dark {

  /* COLORS */

  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --big-title: #db00ff;
  --decor-color: #000028;
  --fancy-color: #ff0070;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__rec,
.theme_dark .header__rec::after {
  display: flex;
}
