.page.theme_light {
  /* COLORS */

  --bg-color: #ffeef5;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --big-title: #ffc2e6;
  --decor-color: #353430;
  --fancy-color: #353430;
  --faded-color: #36353066;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec,
.theme_light .header__rec::after {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    /* COLORS */

    --bg-color: #ffeef5;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --big-title: #ffc2e6;
    --decor-color: #353430;
    --fancy-color: #353430;
    --faded-color: #36353066;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__rec,
  .header__rec::after {
    display: none;
  }
}
