/* GENERAL STYLES FOR THE ENTIRE PAGE*/

.page {
  /* padding: 0 10px; */
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.accent-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* HEADER GENERAL STYLES */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 16px 0 18px;
  color: var(--fancy-color, #ff0070);
}

/* DECORATIVE ELEMENTS FOR BOTH HEADER AND FOOTER */

.decorated-zone {
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--fancy-color);
  border-block-start: 1px solid var(--fancy-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--fancy-color);
  border-block-end: 1px solid var(--fancy-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

/* DECORATIVE ELEMENT ONLY FOR HEADER DARK THEME */

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 18px;
  inset-block-start: 12px;
}

.header__rec::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgb(255 0 112 / 0.5);
  background-color: var(--accent-color);
  inline-size: 10px;
  block-size: 10px;
}

/* NAVIGATION MENU IN HEADER */

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px; /* moved here */
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  /* padding-inline: 13px; */
  outline: 1px solid var(--faded-color);
}

/* FANCY TITLE FOR HEADER AND FOOTER*/

.fancy__title {
  color: var(--big-title);
  font-weight: var(--heading-weight);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 0.82;
}

.header__title {
  justify-self: start;
  align-self: center;
  margin-inline-start: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* PARAGRAPH FOR HEADER*/

.header__text {
  justify-self: end;
  align-self: center;
  margin-inline: 10px;
  padding-inline-end: 20px;
  font-weight: var(--heading-weight);
}

/* ALL HEADINGS */

.heading {
  font-weight: var(--heading-weight);
  font-size: inherit;
}

.content__title {
  color: var(--fancy-color);
}

/* MAIN SECTION */

.content {
  margin-inline: 10px;
  margin-block: 40px;
}

.content__section:not(:last-of-type) {
  margin-block-end: 50px;
}

/* FANCY HEADINGS AND TEXT */

.title-decor {
  color: var(--decor-color);
  background-color: var(--accent-color);
}

/* TEXT SECTIONS */

.content__text-block-item .title-decor {
  margin-block-end: 10px;
}

:is(.content__text-block-item, .content__text-subblock)
  .content__paragraph:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__text-block-item {
  margin-block-start: 20px;
}

.content__text-block-list .content__text-block-item:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__text-subblock .title-decor {
  margin-block-start: 20px;
  font-weight: var(--text-weight);
}

/* SECTION WITH IMAGES */

.images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 10px;
  margin-block-start: 10px;
}

/* FOOTER */

.footer {
  display: flex;
}

.footer__title {
  margin: auto;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* MEDIUM SIZED SCREEN */

@media (width>=620px) {
  /* HEADER */

  .header {
    padding: 105px 0;
  }

  .header__title {
    margin-inline-start: 0;
  }

  .header__rec {
    inset-inline-end: 30px;
    inset-block-start: 22px;
  }

  .header__theme-menu {
    margin-inline-end: 20px;
  }

  .header__text {
    margin-inline: 20px;
    max-inline-size: 48%;
  }

  .fancy__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  /* SECTIONS */

  .content {
    margin-inline: 20px;
    margin-block: 60px;
  }

  .content__section:not(:last-of-type) {
    margin-block-end: 80px;
  }

  :is(.content__text-block-item, .content__text-subblock)
    .content__paragraph:not(:last-of-type) {
    margin-block-end: 20px;
  }

  .updated-design {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
  }

  .updated-design .content__text-block-item {
    margin-block-start: 0;
  }

  .reasons .content__title {
    inline-size: 30%;
  }

  .reasons .content__text-block-item {
    margin-block-start: 20px;
  }

  .content__text-block-item .content__subtitle {
    margin-block-end: 0;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(192px, 1fr));
    gap: 20px;
    margin-block-start: 20px;
  }

  .images__sunset {
    grid-column: 1 / 3;
    grid-row: 1 / auto;
  }

  .images__ice-cream {
    grid-column: 3 / auto;
    grid-row: 1 / 3;
  }

  .images__tape {
    grid-column: 1 / auto;
    grid-row: 2 / 4;
  }

  .images__street {
    grid-column: 2 / 4;
    grid-row: 3 / auto;
  }

  .images__books {
    grid-column: 2 / auto;
    grid-row: 2 / auto;
  }
}

/* BIG SCREEN */

@media (width>=1000px) {
  /* HEADER */

  .header {
    padding: 20px 0 54px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 15px;
    /* margin-block-start: 20px; */
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }

  .header__title {
    margin-block-start: 32px;
    margin-inline-start: 2px;
    text-shadow: 4px 4px 0 var(--modified-title);
  }

  .header__text {
    padding-inline-end: 0;
  }

  /* SECTIONS */

  .reasons .content__text-block-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
  }
}
