:root {
  /* COLORS */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --big-title: #db00ff;
  --decor-color: #000028;
  --fancy-color: #ff0070;
  --faded-color: #ff007066;
  /* FONTS */
  --main-font: 'IBM Plex Mono';
  --text-size: 18px;
  --line-height: 23.4px;
  --text-weight: normal;
  --heading-weight: bold;
}
